@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Estilos del piano */
.piano-container {
  max-width: 100%;
  overflow-x: auto;
}

.piano {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.white-key {
  width: 28px;
  height: 120px;
  background-color: white;
  border-right: 1px solid #ccc;
}

.black-key {
  width: 18px;
  height: 80px;
  background-color: black;
  margin-left: -9px;
  margin-right: -9px;
  z-index: 1;
}

.white-key.active {
  background-color: #e0e7ff;
}

.black-key.active {
  background-color: #4338ca;
}

.white-key:last-child {
  border-right: none;
}